* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  top: 0;
  z-index: 10;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

.icon {
  width: 20px;
}

.logo img {
  height: 80px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none; 
  color: #ddd;
  font-size: 16px;
  position: relative;
}

.nav a:hover {
  color: #0f0;
}

.btn-contato {
  display: flex;
  align-items: center;
  gap: 5px;
  background: linear-gradient(to right, green, darkgreen);
  text-align: center;
  line-height: 2.5em;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 6px 24px;
  border-radius: 1em;
  box-shadow: 2px 0 0 5px rgba(60, 60, 60, 0.2);
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  text-decoration: none;
  filter: blur(0.4px);
}

.btn-contato:hover {
  filter: blur(0.2px);
  transform: scale(1.04);
}

.btn-contato:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  left: -100%;
  transition: 0.8s;
}

.btn-contato:hover:before {
  left: 85%;
}

.menu-icon {
  font-size: 32px;
  display: none;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.main {
  background: #111;
  overflow-x: hidden;
}

.main h1 {
  font-weight: 750;
}

.main p {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.section1 {
  position: relative;
  width: 100%;
  height: 700px;
  background:
    linear-gradient(rgba(17,17,17,0.8), rgba(17,17,17,0.2)),
    url('/imgs/almhome.png  ');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.txt-container {
  font-size: 1.125rem;
  color: white;
  width: 100%;
  margin-left: 600px;
  text-shadow: 0.5px 0.5px #0d0d0d;
}

.btn-orcamento {
  background: linear-gradient(to right, green, darkgreen);
  box-shadow: 3px 3px 8px #0d0d0d;
  padding: 7px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  display: flex;
  gap: 10px;
  width: 220px;
  font-size: medium;
}

.btn-orcamento:hover {
  transform: scale(1.04);
}

.section2 {
  position: relative;
  width: 100%;
  padding: 80px 40px;
  background: url('/imgs/section2.png');
  background-size: cover;
  background-position: top;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.servicos-container {
  width: 100%;
  text-align: left;
  text-shadow: 0.5px 0.5px #0d0d0d;

}

.servicos-container h1 {
  font-size: 2rem;
}

.servicos-container p {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 900px;
}

.card {
  background-image: url(/imgs/pick.jpeg);
  height: 160px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.15);
}

.footer {
  width: 100%;
  background: #0d0d0d;
  color: #ccc;
  padding: 25px 0;
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
  opacity: 0.75;
}

.footer-content p:last-child {
  font-style: italic;
  opacity: 0.6;
}

.section3 {
  width: 100%;
  padding: 70px 40px;
  background: #111;
  color: white;
  text-shadow: 0.5px 0.5px #0d0d0d;

  display: flex;
  justify-content: center;
}

.localizacao-container {
  margin-top: 20px;
  max-width: 900px;
  width: 80%;
  text-align: center;
}

.localizacao-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.localizacao-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.map-box {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}


@media (max-width: 900px) {
  .menu-icon {
    margin-left: 245px;
  }
  
  .header {
    justify-content: space-betwee;
    padding: 10px 40px;
  }

  .btn-contato {
    display: none;
  }

  .section1 {
    height: 600px;
  }

  .txt-container {
    margin-left: 80px;
  }
  
  .txt-container h1 {
    font-size: 1.5rem;
  }

  .txt-container p {
    font-size: 0.9rem;
  }

  .btn-orcamento {
    font-size: 0.8rem;
  }

  .section2 {
    padding: 50px 20px;
    align-items: center;
    text-align: center;
  }

  .servicos-container {
    margin: 0;
    max-width: 90%;
  }

  .servicos-container h1 {
    font-size: 1.5rem;
  }

  .servicos-container p {
    font-size: 0.9rem;
  }

  .cards-container {
    grid-template-columns: 1fr; /* VIRA COLUNA */
    gap: 30px;
    max-width: 350px;
  }

  .card {
    height: 180px;
  }

  .section3 {
    padding: 50px 20px;
    text-align: center;
  }

  .localizacao-container h1 {
    font-size: 1.5rem;
  }

  .localizacao-container p {
    font-size: 0.9rem;
  }

  .map-box {
    height: 300px;
  }
}

  .menu-icon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    display: none;
    padding: 20px 0;
  }

  .nav a {
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
  }

  #menu-toggle:checked + .menu-icon + .nav {
    display: flex;
  }

  .btn-contato {
    display: none; 
  }
}
